<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue Second</title>

  <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Arizonia" rel="stylesheet">

</head>


<!-- 

  ** First Course Project (The monster Slayer) ve Second Course Project (Wonderful Quotes)

  - event modifiers !!!
  - $el, $refs, $mount()
  - lifeCycle
  - props (paren to child)
  - $emit() (child to parent)
  - Communication siblings components (event bus) => eventBus.$emit(), eventBus.on()
    Büyük projelerde Vuex
  - slots(component): dışardan içerik alma (on child component), child'a it stiller uygulanır,
    içerik paret'a yazılır, child'da slot tagi kullanılır. <slot>
  - <component>, dinamik componentler oluştururken kullanılır, Dynamic Components, silinip tekrar oluşturulurlar
    Deactivated and Activated lifecycle hooks
  

    Directives
    - v-text, v-html, 
    - Hooks: bind(el, binding, vnode) = once directive is attached
             inserted (el, binding, vnode) = inserted in parent node
             update(el, binding, vnode, oldVnode) = once component is updated (without children)
             componentUpdated(el, binding, vnode, oldVnode) = once component is updated (with children)
             unbind(el, binding, vnode) = once directive is removed
    - in main.js (as Globally)
        Vue.directive('highlight', {
          bind(el, binding, vnode){
            // el.style.bacgroundColor = 'green';
            // el.style.bacgroundColor = binding.value;

            // argüman varsa bg renkli, yoksa yazı renkli olsun
            if(binding.arg == 'background') 
              el.style.backgroundColor = binding.value;
            else
              el.style.color = binding.value;
          }
        });
        <p v-highlight:background="'red'">asdfghj</p>
      - in .vue file (as Locally)
        directives:{
          'local-highlight': {
             bind(el, binding, vnode){ 
               // el.style.bacgroundColor = 'green'; 
               // el.style.bacgroundColor = binding.value; 
               // argüman varsa bg renkli, yoksa yazı renkli olsun 
               if(binding.arg == 'background') el.style.backgroundColor = binding.value; 
               else el.style.color = binding.value; 
               }
          }
        }

    Filters and Mixins
     - filters and mixins
     - filters kullanımı directives 'te olduğu gibi
        Vue.filter('name')
        filters:{
          'name'(){
            rgedfg
          }
        }
     - Mixins: aynı işlevi yapan kodlar tek bir dosyada toplanır. Glabal tanımlamak tüm componentleri etkiler.
     Mixin paylaşılmış (shared) değldir. 1.componentte yapılan işlem, mixin başka component tarafından
     kullanılsa da sadece 1.yi etkiler, diğer componenti etkilemez.

     - Animations and Transitions !!
      
 -->


<body>

  <div id="app">
    <p v-if="show">You can see me <span>Hello</span></p>
    <p v-else>Now you see me</p>

    <template v-if="show">
      <h1>Heading</h1>
      <p>inside template tag</p>
    </template>

    <p>Do you also see me?</p>
    <button @click="show = !show">Switch</button>
  </div>


  <script>
    new Vue({
      el: '#app',
      data: {
        show: true
      },
      methods: {
        
      }
    });
  </script>
</body>

</html>